*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "Gilroy", sans-serif;
    font-size: 16px;
}

body{
    overflow-x: hidden;
    background-color: #507393;
}

html{
    overflow-x: hidden;
}

a{
    color: #323232;
    text-decoration: none;
    font-size: unset;
}


div, input, button, form, a, span{
    box-sizing: border-box;
}

.main-content{
    z-index: 1;
    position: relative;
}

.container{
    max-width: 310px;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    margin: auto;
}

.wrapper{
    // background: url(../img/bg-mob.jpg) no-repeat #2d5074;
    background: url(../img/mob-bg.jpg) no-repeat #2d5074;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    position: relative;


    .container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-height: 760px;
        height: 100%;
    }
}

/* header */

.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.logo-desk{
    display: none;
    margin-right: 35px;
}

.location{
    padding-top: 30px;
    display: none;
}

.location__city{
    display: flex;
    margin-right: 25px;
    img{
        display: flex;
        align-self: flex-start;
        margin-right: 12px;
        padding-top: 3px;
    }

    p{
        margin: 0;
        font-size: 21px;
        font-weight: 800;
    }
    span{
        font-size: 11px;
        color: #fad67e;
        display: block;
        letter-spacing: 0.02rem;
    }
}

.location__address{
    padding-top: 5px;
    p{
        font-size: 13px;
        font-weight: 200;
    }
}

.consult{
    width: 100%;
    max-width: 155px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}
.consult__text{
    font-weight: 200;
    font-size: 0.625rem;
    max-width: 120px;
    text-align: center;
    display: block;
}

.consult__btn{
    max-width: 155px;
    width: 100%;
    display: flex;
    align-items: center;
    height: 32px;
    background: white;
    border-radius: 15.9px;
    padding-left: 7px;
    padding-right: 10px;
    margin: 12px 0;

    img{
        width: 23px;
        height: 23px;
        box-shadow: 0px 4px 15px -2px rgba(78,204,49,1);
        border-radius: 50%;
        margin-right: 10px;
    }

    a{
        color: #323232;
        font-weight: 800;
        font-size: 0.750rem;
    }
}


.consult__work{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .5rem;
    max-width: 90px;
    width: 100%;
    justify-content: space-between;
    margin: auto;

    &:before{
        content: '';
        display: flex;
        width: 5px;
        height: 5px;
        background: #69eb63;
        border-radius: 50%;
        align-self: center;
        animation: pulse 2s infinite;
    }
}

.consult__content{
    display: flex;
    flex-direction: column-reverse;
}

/* header */

@-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(80, 238, 139, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(80, 238, 139, 0);
    }
    to {
      -webkit-box-shadow: 0 0 0 0 rgba(80, 238, 139, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(80, 238, 139, 0.4);
      box-shadow: 0 0 0 0 rgba(80, 238, 139, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(80, 238, 139, 0);
      box-shadow: 0 0 0 10px rgba(80, 238, 139, 0);
    }
    to {
      -moz-box-shadow: 0 0 0 0 rgba(80, 238, 139, 0);
      box-shadow: 0 0 0 0 rgba(80, 238, 139, 0);
    }
  }


/* main content */

.content__title{
    color: #f8cd89;
    font-weight: 200;
    text-transform: uppercase;
    font-size: 1.19rem;
    margin-bottom: 30px;
    max-width: 300px;
    span{
        font-size: 2.4rem;
        font-weight: 800;
        background: linear-gradient(180deg, #ffffff 20%, #8bacc0 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        color: white;

    }

}


.content__point{
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    img{
        border-radius: 50%;
        box-shadow: 0px 0px 10px 5px rgba(255,226,110,0.18), inset 0px 0px 10px 5px rgba(255,226,110,0.18);
        margin-right: 12px;
    }

    span{
      font-weight: 200;
    }
}

.download{
    margin-bottom: 10px;
}
.download__heading{
    font-weight: 800;
    font-size: 1.125rem;
    max-width: 235px;
    line-height: 1.444;
    span{
        color: #fad67e;
        font-size: inherit;
    }
}
.download__btn{
    max-width: 255px;
    height: 65px;
    border-radius: 30px;
    position: relative;
    z-index: 0;
    text-decoration: none;
    display: block;
    margin-top: 10px;
    transition: .2s;
    cursor: pointer;

    &:before{
        content: '';
        display: block;
        position: absolute;
        top:5px;
        left:0;
        background: #a08744;
        width: 255px;
        height: 65px;
        border-radius: 30px;
        z-index: -1;
        box-shadow: 0 5px 15px #a08744;
    }

    &:hover{
        box-shadow: 0 -14px 10px rgba(253, 227, 158, .2);
        transition: .2s;
    }
}

.download__btn-wrap{
    height: 65px;
    background-image: -moz-linear-gradient( -90deg, rgb(255,230,168) 0%, rgb(233,180,49) 100%);
    background-image: -webkit-linear-gradient( -90deg, rgb(255,230,168) 0%, rgb(233,180,49) 100%);
    background-image: -ms-linear-gradient( -90deg, rgb(255,230,168) 0%, rgb(233,180,49) 100%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    max-width: 255px;
    color: #323232;
    font-weight: 800;
    font-size: 0.813rem;
    position: relative;
    span{
        color: #4e4e4e;
        font-weight: 400;
        font-size: 0.563rem;
        text-transform: uppercase;
    }
    img{
        position: absolute;
        top: -5px;
        right: -20px;
        width: 91px;
        height: 63px;
    }
}


.building-mob{
    position: absolute;
    top: 90px;
    right: -340px;
}

.build,
.tree-l,
.tree-r,
.cloud{
    display: none;
}

.overlay{
    background: rgba(34, 34, 34,.74);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    display: none;
}

.overlay.active{
    display: block;
}
.modal{
    max-width: 518px;
    width: 100%;
    height: 473px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 50px 100px;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    h2{
        color: #171717;
        text-align: center;
        font-weight: 800;
    }

    form{
        input{
            background: #f5f5f5;
            border: none;
            height: 45px;
            width: 100%;
            text-align: center;
            border-radius: 10px;
            margin-bottom: 15px;
            font-size: 14px;
            color: #b7b7b7;
            outline: none;

            &::placeholder{
                color: #b7b7b7;
            }
        }
    }

}

.modal.active{
    display: flex;
}

.modal-close{
    top: -20px;
    right: -20px;
    position: absolute;
    cursor: pointer;
}

.btn-modal{
    margin: 10px auto;
    border: none;
    outline: none;
    width: 100%;
    &:before{
        width: 255px !important;
    }
}

.thanks{
    max-width: 518px;
    width: 100%;
    height: 473px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    padding: 50px 85px;
    text-align: center;
    display: none;
    h2{
        font-size: 36px;
        font-weight: 800;
        color: #242424;
        margin-bottom: 20px;
    }

    h3{
        font-weight: 400;
        font-size: 24px;
        color: #242424;
        margin-bottom: 30px;
    }

    p{
        color: #242424;
        font-size: 16px;
        max-width: 230px;
        margin: auto;
    }

    .thanks-phone{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #242424;
        font-weight: 800;
        font-size: 20px;
        margin: 30px 0;
        img{
            margin-right: 15px;
        }
    }


}

.thanks.active{
    display: block;
}

.circles{
    display: none;
}


/* preloader */

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

.preloader-overlay{
    background: rgba(0,0,0,.95);
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 99;

}

.preloader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}
/* media queries */

@media screen and (max-height: 568px){
    .download{
        margin-top: 90px;
    }
}

@media screen and (max-height: 600px){
    .building-mob{
        top: 70px;
    }
}
@media screen and (min-height: 700px){
    .building-mob{
        top: 120px;
    }
}

@media screen and (min-height: 760px){
    .building-mob{
        top: 25%;
        right: unset;
        left: 50%;
        transform: translate(-50%);
    }
}

@media screen and (min-width: 350px){
    .building-mob{
        right: -290px;
    }
}


@media screen and (min-width: 480px){
    .container{
        max-width: 425px;
    }
}

@media screen and (min-width: 768px){
    .container{
        max-width: 550px;
    }
}

@media screen and (min-width: 1024px){
    body{
        overflow: hidden;
    }

    *{
        font-size: 24px;
    }
    .container{
        max-width: 1040px;
        padding: 0 15px;
        position: relative;
    }

    .building-mob{
        display: none;
    }

    .consult{
        flex-direction: row;
        max-width: 422px
    }

    .consult__content{
        max-width: 250px;
        width: 100%;
        flex-direction: column;
    }

    .consult__text{
        text-align: right;
        margin-right: 15px;
        max-width: 200px
    }

    .consult__btn{
        max-width: 239px;
        height: 49px;
        border-radius: 25px;

        img{
            margin-right: 30px;
            width: 36px;
            height: 36px;
        }
    }

    .consult__work{
        max-width: 135px;
        justify-content: center;
        margin-left: 45px;

        &:before{
            margin-right: 15px;
            width: 7px;
            height: 7px;
        }
    }

    .consult__text{
        display: flex;
        align-self: flex-start;
        padding-top: 35px;
        font-size: 13px;
    }


    .wrapper{
        background: url(../img/bg2.jpg) no-repeat;
        background-size: 100% 100%;
        max-height: unset;

        .container{
            max-height: unset;
            justify-content: unset;
        }
    }

    .content__title{
        max-width: 625px;

        font-size: 1.625rem;

        span{
            font-size: 3.292rem;
        }
    }

    .download{
        z-index: 3;
        margin-top: 300px;
        margin-bottom: 0;
    }

    .download__heading{
        max-width: 700px;
        margin-bottom: 40px;
        font-size: 0.833rem;
    }

    .download__btn, .download__btn-wrap{
        max-width: 390px;
        height: 100px;
        line-height: 1.6;
        border-radius: 45px;
    }

    .download__btn-wrap{
        img{
            top: -10px;
            right: -30px;
            width: 145px;
            height: 109px;
        }
    }

    .download__btn:before{
        width: 390px;
        height: 100px;
        border-radius: 45px;
    }

    .logo-desk{
        display: block;
    }

    .logo-mob{
        display: none;
    }

    .tree-r{
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    .tree-l{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .build{
        display: block;
        position: absolute;
        bottom: 0;



    }

    .cloud{
        display: block;
        position: absolute;
        bottom:0;
    }

    .point-1{
        position: absolute;
        left: 85px;
    }

    .point-2{
        position: absolute;
        top: 78px;
        left: 350px;

    }

    .point-3{
        position: absolute;
        top: 112px;
        left: 3px;
    }

    .content__points{
        width: 100%;
        position: relative;
    }

    .location{
        display: flex;
    }

    .circles{
        position: absolute;
        top: 37px;
        z-index: 0;
        left: -100px;
        display: block;
    }

    .btn-modal{
        &:before{
            width: 318px !important;
        }
    }

    @media screen and (max-height: 810px){
        .download{
            margin-top: 180px;
        }


    }
}

@media screen and (max-height: 966px){
    .build{
        top: 0;
    }
}



@media screen and (max-width: 455px){
    .btn-modal:before{
        width: 100% !important;
    }
}

@media screen and (max-width: 575px){
    .modal-close{
        top: -25px;
        right: 5px;
    }

    .modal{
        padding: 50px 70px;
    }
}

@media screen and (max-width: 400px){
    .modal{
        padding: 79px 40px;
    }

    .thanks{
        padding: 50px 5px;
    }
}

@media screen and (max-width: 508px){
    .thanks{
        .magazine{
            width: 216px;
        }
    }
}

@media (min-width: 1280px){
  .tree-r{
    width: 250px;
  }

  .tree-l{
    width: 480px;
  }
  .build{
    width: 1200px;
    right: -207px;
  }
}


@media screen and(min-width: 2560px){
    .container{
        max-width: 1440px;
    }

    .build{
        right: -390px;
    }

    .circles{
        right: -280px;
        left: unset;
    }

    .point-1{
        left: 286px;
    }

    .point-2{
        left: 548px;
    }

    .point-3{
        left: 204px;
    }
}

@media screen and (min-width: 2560px) and (min-height: 1280px){
    .build{
        width: 2000px;
        height: 1379px;
        right: -518px;
    }

    .circles{
        top: unset;
        bottom: 105px;
        right:0;
    }

    .content__title{
        margin-bottom: 60px;
    }

    .point-1 {
        left: 237px;
    }

    .point-2 {
        left: 478px;
        top: 155px;
    }

    .point-3 {
        left: 82px;
    }

    .content__points{
        position: absolute;
        bottom: 934px;
    }

    .main-content{
        position: static;
    }
}

@media screen and (min-width: 2560px) and (min-height: 1440px){

    .circles{
        top: unset;
        bottom: 105px;
        right:0;
    }

    .main-content{
        max-height: 550px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .content__title{
        margin-bottom: 60px;
    }

    .point-1 {
        left: 237px;
    }

    .point-2 {
        left: 478px;
        top: 155px;
    }

    .point-3 {
        left: 82px;
    }

    .content__points{
        position: absolute;
        bottom: 934px;
    }

    .main-content{
        position: static;
    }
}


@media screen and (min-width: 2560px) and (min-height: 1561px){
    .download{
        margin-top: 450px;
    }
}

@media (width: 1440px) and (height: 900px){
  .build{
    width: 1200px;
    height: 896px;
    bottom: 0;
    top: unset;
    left: 100px;
  }

  .tree-r{
    width: 250px;
  }

  .tree-l{
    width: 400px;
  }

  .content__title{
    margin-top: 70px;
  }

  .download{
    margin-top: 230px;
  }


  .point-1{
    left: 55px;
  }

  .point-2{
    left: 304px;
  }

  .point-3{
    top: 93px;
    left: -9px;

  }
}


@media (width: 1366px) and (height: 768px){
  .build{
    width: 1115px;
    height: 769px;
    bottom: 0;
    top: unset;
    left: 100px;
  }

  .circles{
    width:1200px;
    height: 686px;
    left: 58px;
  }

  .tree-r{
    width: 250px;
  }

  .tree-l{
    width: 400px;
  }

  .content__title{
    margin-top: 70px;
  }

  .download{
    margin-top: 145px;
  }


  .point-1{
    left: 106px;
  }

  .point-2{
    left: 304px;
    top: 22px;
  }

  .point-3{
    top: 70px;
    left: 75px;
  }
}


@media (width: 1200px) and (height: 600px){
  .build{
    width: 874px;
    left: 262px;
    bottom: 0;
    top: unset;
  }

  .tree-r{
    width: 200px;
  }

  .tree-l{
    width: 350px;
  }

  .circles{
    width: 1000px;
    left: 146px;
  }

  *{
    font-size: 22px;
  }

  .point-1{
    left: 185px;
    top: -12px;
  }

  .point-2{
    top: 29px;
    left: 334px;
  }

  .point-3{
    top: 70px;
    left: 150px;
  }

  .download{
    margin-top: 130px;
  }

  .download__heading{
    margin-bottom: 10px;
  }
}

@media (width: 1024px) and (height: 600px){
  .build{
    bottom: 0;
    width: 800px;
    right: -50px;
    top: unset;
  }

  .tree-l{
    width: 150px;
  }

  .tree-r{
    width: 150px;
  }

  .consult__btn{
    max-width: 9.958rem;
    height: 2.042rem;
  }

  *{
    font-size: 22px;
  }

  .point-1{
    left: 132px;
  }
  .point-2{
    top: 29px;
    left: 324px;
  }
  .point-3{
    top: 72px;
    left: 93px;
  }

  .circles{
    width: 1154px;
    left: 64px;
  }

  .download{
    margin-top: 131px;
  }

  .download__heading{
    margin-bottom: 14px;
  }
}

@media (width: 1920px) and (min-height: 900px){
  .build{
    width: 1600px;
    right: -407px;
  }

  .consult__btn{
    max-width: 9.958rem;
    height: 2.042rem;
  }

  .content__title{
    max-width: 900px;
  }

  *{
    font-size: 26px;
  }

  .consult__work{
    max-width: 145px;
  }

  .header{
    margin-bottom: 90px;
  }

  .point-1{
    left: 72px;
  }
  .point-2{
    left: 334px;
    top: 56px;
  }

  .point-3{
    left: 6px;
  }

  .tree-r{
    width: 350px;
  }

  .tree-l {
    width: 550px;
  }

  .circles{
    left: -56px;
  }
}

@media (width: 2560px) and (max-height: 1600px), (width: 2560px) and (height: 1440px),
(min-width: 2560px){
  .tree-r {
    width: 498px;
  }

  .build{
    width: 2100px;
    height: auto;
    right: -603px;
  }

  .cloud{
    right: 450px;
  }

  .tree-l{
    width: 900px;
  }

  .logo-desk{
    width: 300px;
  }

  .location__address p{
    font-size: 23px;
  }

  .location__city p{
    font-size: 30px;
  }

  .location__city span{
    font-size: 16px;
  }

  .consult{
    align-items: flex-start;
    padding-top: 30px;
    max-width: 500px;
  }

  .consult__text{
    padding-top: 17px;
    font-size: 17px;
  }

  .consult__btn{
    max-width: 9.958rem;
    height: 2.042rem;
    border-radius: 32px;
  }

  .header{
    margin-bottom: 180px;
  }

  *{
    font-size: 34px;
  }

  .content__title{
    max-width: 900px;
  }

  .download__btn,
  .download__btn-wrap{
    max-width: 16.250rem;
    height: 4.167rem;
  }

  .download__btn-wrap img{
    width: 200px;
    height: 150px;
    right: -60px;
    top: -20px;
  }

  .consult__content{
    max-width: 285px;
  }

  .consult__work{
    max-width: 185px;
  }

  .circles{
    width: 2000px;
    bottom: 80px;
    right: -400px;
  }

  .point-2{
    left: 466px;
    top: 111px;
  }

  .point-1{
    left: 133px;
  }

  .point-3{
    top: 147px;
    left: 10px;
  }

}

@media (width: 2560px) and (max-height: 1440px){
  .header{
    margin-bottom: 80px;
  }

  .point-1{
    left: 86px;
    top: 50px;
  }
}

@media (width: 1600px) and (height: 900px){
  .build{
    width: 1300px;
    right: -300px;
  }
}

@media (width: 1600px) and (height: 1024px){
  .build{
    width: 1500px;
    right: -400px;
  }
}
